In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow.keras
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.preprocessing import *

from sklearn.ensemble import *
from datetime import datetime
from tensorflow.keras.callbacks import *

In [2]:
df = pd.read_csv("./Datasets/GW14/soccer-spi/spi_matches.csv")

In [3]:
df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def dateconv (dates):
  date = datetime.strptime(dates,'%Y-%m-%d') 
  return date

df['date'] = df['date'].apply(lambda x : dateconv(x))

In [5]:
last_played = datetime(2020,12,18)
GW_end = datetime(2020,12,23)
pl = df[df['league']== "Barclays Premier League"]
old = pl[pl['date']<last_played]
new = pl[pl['date']>last_played]
new = new[new['date'] < GW_end]

In [6]:
teams = pd.get_dummies(new[['team1','team2']])
teamsold = pd.get_dummies(old[['team1','team2']])

In [7]:
new = pd.concat([new,teams], axis=1)
old = pd.concat([old,teamsold], axis=1)

In [8]:
new.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2', 'team1_Brighton and Hove Albion',
       'team1_Burnley', 'team1_Chelsea', 'team1_Crystal Palace',
       'team1_Everton', 'team1_Manchester United', 'team1_Newcastle',
       'team1_Southampton', 'team1_Tottenham Hotspur',
       'team1_West Bromwich Albion', 'team2_Arsenal', 'team2_Aston Villa',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Sheffield United',
       'team2_West Ham United', 'team2_Wolverhampton'],
      dtype='object')

In [9]:
X_train = old[['season', 'spi1', 'spi2', 'score1','score2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2','team1_Brighton and Hove Albion',
       'team1_Burnley', 'team1_Chelsea', 'team1_Crystal Palace',
       'team1_Everton', 'team1_Manchester United', 'team1_Newcastle',
       'team1_Southampton', 'team1_Tottenham Hotspur',
       'team1_West Bromwich Albion', 'team2_Arsenal', 'team2_Aston Villa',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Sheffield United',
       'team2_West Ham United', 'team2_Wolverhampton']]
X_test = new[['season', 'spi1', 'spi2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2','team1_Brighton and Hove Albion',
       'team1_Burnley', 'team1_Chelsea', 'team1_Crystal Palace',
       'team1_Everton', 'team1_Manchester United', 'team1_Newcastle',
       'team1_Southampton', 'team1_Tottenham Hotspur',
       'team1_West Bromwich Albion', 'team2_Arsenal', 'team2_Aston Villa',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Sheffield United',
       'team2_West Ham United', 'team2_Wolverhampton']]

In [10]:
X_train.dropna(inplace=True)

In [11]:
X_test.dropna(inplace=True)

In [12]:
lm = LinearRegression()
lm.fit(X_train.drop(['score1','score2'],axis=1),X_train[['score1','score2']])
predictions  = lm.predict(X_test)
preds = []
for num in predictions:
  score1 = np.round(num[0])
  score2 = np.round(num[1])
  preds.append((score1,score2))

len(preds)

score1 = []
score2 = []

for num in preds:
  score1.append(num[0])
  score2.append(num[1])

print(len(score1))
print(len(score2))

new['Lenny Score 1'] = score1
new['Lenny Score 2'] = score2
new.to_excel("ProjectionsPLGW14_LR.xlsx")

10
10

In [13]:
tX_train = X_train.drop(['score1','score2'],axis=1).values
tX_test =X_test.values
y_train = X_train[['score1','score2']].values

In [14]:
scaler = MinMaxScaler()
tX_train = scaler.fit_transform(tX_train)
tX_test = scaler.transform(tX_test)
tX_train.shape

(1647, 28)

In [15]:
def two_to_three(array):
    array = np.reshape(array, array.shape+(1,))
    return array

In [16]:
tX_test = two_to_three(tX_test)
tX_train = two_to_three(tX_train)
print(tX_test.shape)
print(tX_train.shape)

(10, 28, 1)
(1647, 28, 1)

In [17]:
model = Sequential()

In [18]:

model.add(SimpleRNN(46, return_sequences=True))
model.add(SimpleRNN(46, return_sequences=True))
model.add(SimpleRNN(46))
model.add(Dense(92, activation='relu'))
model.add(Dense(2))

In [19]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['accuracy'])

In [20]:
early_stop = EarlyStopping(monitor='loss', mode='min', verbose=1, patience=25)

In [21]:
model.fit(tX_train,y_train,epochs=30)

Train on 1647 samples
Epoch 1/30
1647/1647 [==============================] - 8s 5ms/sample - loss: 1.5557 - accuracy: 0.6812
Epoch 2/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.3665 - accuracy: 0.6636
Epoch 3/30
1647/1647 [==============================] - 2s 2ms/sample - loss: 1.3454 - accuracy: 0.6988
Epoch 4/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.3450 - accuracy: 0.6970
Epoch 5/30
1647/1647 [==============================] - 2s 2ms/sample - loss: 1.3562 - accuracy: 0.7049
Epoch 6/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3414 - accuracy: 0.6952
Epoch 7/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3317 - accuracy: 0.6958
Epoch 8/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3322 - accuracy: 0.6995
Epoch 9/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3507 - accuracy: 0.6982
Epoch 10/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.3416 - accuracy: 0.6928
Epoch 11/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.3348 - accuracy: 0.6988
Epoch 12/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3478 - accuracy: 0.7140
Epoch 13/30
1647/1647 [==============================] - 4s 3ms/sample - loss: 1.3157 - accuracy: 0.7025
Epoch 14/30
1647/1647 [==============================] - 4s 2ms/sample - loss: 1.3138 - accuracy: 0.7098
Epoch 15/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3129 - accuracy: 0.7122
Epoch 16/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3094 - accuracy: 0.7140
Epoch 17/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.3039 - accuracy: 0.7031
Epoch 18/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2976 - accuracy: 0.7031
Epoch 19/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2949 - accuracy: 0.7116
Epoch 20/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.2976 - accuracy: 0.7110
Epoch 21/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2882 - accuracy: 0.7055
Epoch 22/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2971 - accuracy: 0.7037
Epoch 23/30
1647/1647 [==============================] - 3s 2ms/sample - loss: 1.2968 - accuracy: 0.7098
Epoch 24/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2849 - accuracy: 0.7061
Epoch 25/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2859 - accuracy: 0.7043
Epoch 26/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2896 - accuracy: 0.7025
Epoch 27/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.3034 - accuracy: 0.7037
Epoch 28/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2611 - accuracy: 0.7092
Epoch 29/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2637 - accuracy: 0.7067
Epoch 30/30
1647/1647 [==============================] - 2s 1ms/sample - loss: 1.2505 - accuracy: 0.7128

In [22]:
predictions  = model.predict(tX_test)
preds = []
for num in predictions:
  score1 = np.round(num[0]) if num[0]>=0 else 0
  score2 = np.round(num[1]) if num[1]>=0 else 0
  preds.append((score1,score2))

len(preds)

score1 = []
score2 = []

for num in preds:
  score1.append(num[0])
  score2.append(num[1])

print(len(score1))
print(len(score2))

new['Tanner Score 1'] = score1
new['Tanner Score 2'] = score2
new.to_excel("ProjectionsPLGW14_TF.xlsx")

10
10