In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow.keras
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.preprocessing import *
from sklearn.ensemble import *
from datetime import datetime
from tensorflow.keras.callbacks import *

In [2]:
df = pd.read_csv("./Datasets/GW3/soccer-spi/spi_matches.csv")

In [3]:
df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def dateconv (dates):
  date = datetime.strptime(dates,'%Y-%m-%d') 
  return date

df['date'] = df['date'].apply(lambda x : dateconv(x))

In [74]:
last_played = datetime(2020,9,25)
GW_end = datetime(2020,9,29)
pl = df[df['league']== "Barclays Premier League"]
old = pl[pl['date']<last_played]
new = pl[pl['date']>last_played]
new = new[new['date'] < GW_end]

In [75]:
teams = pd.get_dummies(new[['team1','team2']])
teamsold = pd.get_dummies(old[['team1','team2']])

In [76]:
new = pd.concat([new,teams], axis=1)
old = pd.concat([old,teamsold], axis=1)

In [77]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 34586 to 34823
Data columns (total 43 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   season                          10 non-null     int64
 1   date                            10 non-null     datetime64[ns]
 2   league_id                       10 non-null     int64
 3   league                          10 non-null     object
 4   team1                           10 non-null     object
 5   team2                           10 non-null     object
 6   spi1                            10 non-null     float64
 7   spi2                            10 non-null     float64
 8   prob1                           10 non-null     float64
 9   prob2                           10 non-null     float64
 10  probtie                         10 non-null     float64
 11  proj_score1                     10 non-null     float64
 12  proj_score2                     10 non-null     float64
 13  importance1                     10 non-null     float64
 14  importance2                     10 non-null     float64
 15  score1                          0 non-null      float64
 16  score2                          0 non-null      float64
 17  xg1                             0 non-null      float64
 18  xg2                             0 non-null      float64
 19  nsxg1                           0 non-null      float64
 20  nsxg2                           0 non-null      float64
 21  adj_score1                      0 non-null      float64
 22  adj_score2                      0 non-null      float64
 23  team1_Brighton and Hove Albion  10 non-null     uint8
 24  team1_Burnley                   10 non-null     uint8
 25  team1_Crystal Palace            10 non-null     uint8
 26  team1_Fulham                    10 non-null     uint8
 27  team1_Liverpool                 10 non-null     uint8
 28  team1_Manchester City           10 non-null     uint8
 29  team1_Sheffield United          10 non-null     uint8
 30  team1_Tottenham Hotspur         10 non-null     uint8
 31  team1_West Bromwich Albion      10 non-null     uint8
 32  team1_West Ham United           10 non-null     uint8
 33  team2_Arsenal                   10 non-null     uint8
 34  team2_Aston Villa               10 non-null     uint8
 35  team2_Chelsea                   10 non-null     uint8
 36  team2_Everton                   10 non-null     uint8
 37  team2_Leeds United              10 non-null     uint8
 38  team2_Leicester City            10 non-null     uint8
 39  team2_Manchester United         10 non-null     uint8
 40  team2_Newcastle                 10 non-null     uint8
 41  team2_Southampton               10 non-null     uint8
 42  team2_Wolverhampton             10 non-null     uint8
dtypes: datetime64[ns](1), float64(17), int64(2), object(3), uint8(20)
memory usage: 2.4+ KB

In [49]:
old_teams = old.columns.tolist()
new_teams = new.columns.tolist()

In [50]:
dropped_columns_old = []
dropped_columns_new = []
for column in old_teams:
    if column not in new_teams:
        dropped_columns_old.append(column)
for column in new_teams:
    if column not in old_teams:
        dropped_columns_new.append(column)

In [51]:
dropped_columns_new

[]

In [78]:
X_train = old[['season', 'spi1', 'spi2', 'score1','score2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2', 'team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Crystal Palace', 'team1_Fulham', 'team1_Liverpool',
       'team1_Manchester City', 'team1_Sheffield United',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team2_Arsenal', 'team2_Aston Villa',
       'team2_Chelsea', 'team2_Everton', 'team2_Leeds United',
       'team2_Leicester City', 'team2_Manchester United', 'team2_Newcastle',
       'team2_Southampton', 'team2_Wolverhampton']]
X_test = new[['season', 'spi1', 'spi2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2','team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Crystal Palace', 'team1_Fulham', 'team1_Liverpool',
       'team1_Manchester City', 'team1_Sheffield United',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team2_Arsenal', 'team2_Aston Villa',
       'team2_Chelsea', 'team2_Everton', 'team2_Leeds United',
       'team2_Leicester City', 'team2_Manchester United', 'team2_Newcastle',
       'team2_Southampton', 'team2_Wolverhampton']]

In [81]:
X_train.dropna(inplace=True)

In [83]:
X_test.dropna(inplace=True)

In [85]:
lm = LinearRegression()
lm.fit(X_train.drop(['score1','score2'],axis=1),X_train[['score1','score2']])
predictions  = lm.predict(X_test)
preds = []
for num in predictions:
  score1 = np.round(num[0])
  score2 = np.round(num[1])
  preds.append((score1,score2))

len(preds)

score1 = []
score2 = []

for num in preds:
  score1.append(num[0])
  score2.append(num[1])

print(len(score1))
print(len(score2))

new['Predicted Score 1'] = score1
new['Predicted Score 2'] = score2
new.to_excel("ProjectionsPLGW3_LR.xlsx")

10
10

In [90]:
tX_train = X_train.drop(['score1','score2'],axis=1).values
tX_test =X_test.values
y_train = X_train[['score1','score2']].values

In [91]:
scaler = MinMaxScaler()
tX_train = scaler.fit_transform(tX_train)
tX_test = scaler.transform(tX_test)
tX_train.shape

(1538, 28)

In [92]:
def two_to_three(array):
    array = np.reshape(array, array.shape+(1,))
    return array

In [93]:
tX_test = two_to_three(tX_test)
tX_train = two_to_three(tX_train)
print(tX_test.shape)
print(tX_train.shape)

(10, 28, 1)
(1538, 28, 1)

In [114]:
model = Sequential()

In [115]:

model.add(SimpleRNN(46, return_sequences=True))
model.add(SimpleRNN(46, return_sequences=True))
model.add(SimpleRNN(46))
model.add(Dense(92, activation='relu'))
model.add(Dense(2))

In [116]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['accuracy'])

In [117]:
early_stop = EarlyStopping(monitor='loss', mode='min', verbose=1, patience=25)

In [118]:
model.fit(tX_train,y_train,epochs=60)

Train on 1538 samples
Epoch 1/60
1538/1538 [==============================] - 4s 3ms/sample - loss: 1.5709 - accuracy: 0.6853
Epoch 2/60
1538/1538 [==============================] - 1s 861us/sample - loss: 1.3719 - accuracy: 0.6905
Epoch 3/60
1538/1538 [==============================] - 2s 2ms/sample - loss: 1.3269 - accuracy: 0.7165
Epoch 4/60
1538/1538 [==============================] - 3s 2ms/sample - loss: 1.3426 - accuracy: 0.7035
Epoch 5/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3410 - accuracy: 0.7087
Epoch 6/60
1538/1538 [==============================] - 1s 913us/sample - loss: 1.3225 - accuracy: 0.7224
Epoch 7/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3119 - accuracy: 0.7068
Epoch 8/60
1538/1538 [==============================] - 1s 923us/sample - loss: 1.3216 - accuracy: 0.7159
Epoch 9/60
1538/1538 [==============================] - 2s 991us/sample - loss: 1.3158 - accuracy: 0.7009
Epoch 10/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3364 - accuracy: 0.7159
Epoch 11/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3097 - accuracy: 0.7152
Epoch 12/60
1538/1538 [==============================] - 1s 957us/sample - loss: 1.3049 - accuracy: 0.7243
Epoch 13/60
1538/1538 [==============================] - 1s 957us/sample - loss: 1.3206 - accuracy: 0.7009
Epoch 14/60
1538/1538 [==============================] - 2s 988us/sample - loss: 1.3154 - accuracy: 0.7048
Epoch 15/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3261 - accuracy: 0.7204
Epoch 16/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3336 - accuracy: 0.7048
Epoch 17/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3264 - accuracy: 0.7204
Epoch 18/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2955 - accuracy: 0.7178
Epoch 19/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3198 - accuracy: 0.7094
Epoch 20/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3041 - accuracy: 0.7126
Epoch 21/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3226 - accuracy: 0.7120
Epoch 22/60
1538/1538 [==============================] - 2s 2ms/sample - loss: 1.2907 - accuracy: 0.7237
Epoch 23/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3192 - accuracy: 0.7126
Epoch 24/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2849 - accuracy: 0.7328
Epoch 25/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2902 - accuracy: 0.7230
Epoch 26/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.3044 - accuracy: 0.7198
Epoch 27/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2790 - accuracy: 0.7328
Epoch 28/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2687 - accuracy: 0.7289
Epoch 29/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2702 - accuracy: 0.7432
Epoch 30/60
1538/1538 [==============================] - 1s 900us/sample - loss: 1.2772 - accuracy: 0.7094
Epoch 31/60
1538/1538 [==============================] - 1s 896us/sample - loss: 1.2865 - accuracy: 0.7094
Epoch 32/60
1538/1538 [==============================] - 1s 835us/sample - loss: 1.3091 - accuracy: 0.7211
Epoch 33/60
1538/1538 [==============================] - 1s 962us/sample - loss: 1.3027 - accuracy: 0.7113
Epoch 34/60
1538/1538 [==============================] - 1s 854us/sample - loss: 1.2868 - accuracy: 0.7172
Epoch 35/60
1538/1538 [==============================] - 1s 861us/sample - loss: 1.2832 - accuracy: 0.7139
Epoch 36/60
1538/1538 [==============================] - 1s 824us/sample - loss: 1.2733 - accuracy: 0.7217
Epoch 37/60
1538/1538 [==============================] - 1s 961us/sample - loss: 1.2728 - accuracy: 0.7211
Epoch 38/60
1538/1538 [==============================] - 3s 2ms/sample - loss: 1.2880 - accuracy: 0.7276
Epoch 39/60
1538/1538 [==============================] - 1s 924us/sample - loss: 1.3134 - accuracy: 0.7139
Epoch 40/60
1538/1538 [==============================] - 1s 846us/sample - loss: 1.2642 - accuracy: 0.7204
Epoch 41/60
1538/1538 [==============================] - 1s 872us/sample - loss: 1.2796 - accuracy: 0.7341
Epoch 42/60
1538/1538 [==============================] - 1s 915us/sample - loss: 1.2555 - accuracy: 0.7211
Epoch 43/60
1538/1538 [==============================] - 1s 809us/sample - loss: 1.2428 - accuracy: 0.7302
Epoch 44/60
1538/1538 [==============================] - 1s 886us/sample - loss: 1.2436 - accuracy: 0.7269
Epoch 45/60
1538/1538 [==============================] - 1s 835us/sample - loss: 1.2684 - accuracy: 0.7185
Epoch 46/60
1538/1538 [==============================] - 1s 913us/sample - loss: 1.2535 - accuracy: 0.7198
Epoch 47/60
1538/1538 [==============================] - 1s 894us/sample - loss: 1.2496 - accuracy: 0.7191
Epoch 48/60
1538/1538 [==============================] - 1s 966us/sample - loss: 1.2572 - accuracy: 0.7289
Epoch 49/60
1538/1538 [==============================] - 1s 861us/sample - loss: 1.2567 - accuracy: 0.7230
Epoch 50/60
1538/1538 [==============================] - 2s 1ms/sample - loss: 1.2567 - accuracy: 0.7308
Epoch 51/60
1538/1538 [==============================] - 1s 958us/sample - loss: 1.2612 - accuracy: 0.7269
Epoch 52/60
1538/1538 [==============================] - 1s 845us/sample - loss: 1.2516 - accuracy: 0.7308
Epoch 53/60
1538/1538 [==============================] - 1s 823us/sample - loss: 1.2253 - accuracy: 0.7276
Epoch 54/60
1538/1538 [==============================] - 1s 897us/sample - loss: 1.2277 - accuracy: 0.7354
Epoch 55/60
1538/1538 [==============================] - 1s 931us/sample - loss: 1.2254 - accuracy: 0.7243
Epoch 56/60
1538/1538 [==============================] - 1s 852us/sample - loss: 1.2169 - accuracy: 0.7308
Epoch 57/60
1538/1538 [==============================] - 1s 820us/sample - loss: 1.2128 - accuracy: 0.7250
Epoch 58/60
1538/1538 [==============================] - 1s 927us/sample - loss: 1.2076 - accuracy: 0.7360
Epoch 59/60
1538/1538 [==============================] - 1s 912us/sample - loss: 1.1914 - accuracy: 0.7321
Epoch 60/60
1538/1538 [==============================] - 1s 879us/sample - loss: 1.1993 - accuracy: 0.7451

In [119]:
predictions  = model.predict(tX_test)
preds = []
for num in predictions:
  score1 = np.round(num[0]) if num[0]>=0 else 0
  score2 = np.round(num[1]) if num[1]>=0 else 0
  preds.append((score1,score2))

len(preds)

score1 = []
score2 = []

for num in preds:
  score1.append(num[0])
  score2.append(num[1])

print(len(score1))
print(len(score2))

new['Predicted Score 1'] = score1
new['Predicted Score 2'] = score2
new.to_excel("ProjectionsPLGW3_TF.xlsx")

10
10