In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow.keras
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.preprocessing import *

from sklearn.ensemble import *
from datetime import datetime
from tensorflow.keras.callbacks import *
from shapash.data.data_loader import data_loading

In [2]:
df = pd.read_csv("./spi_matches.csv")

In [3]:
df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def dateconv (dates):
  date = datetime.strptime(dates,'%Y-%m-%d') 
  return date

df['date'] = df['date'].apply(lambda x : dateconv(x))

In [5]:
last_played = datetime(2021,3,9)
GW_end = datetime(2021,4,13)
pl = df[df['league']== "Barclays Premier League"]
old = pl[pl['date']<last_played]
new = pl[pl['date']>last_played]
new = new[new['date'] < GW_end]

In [6]:
teams = pd.get_dummies(new[['team1','team2']])
teamsold = pd.get_dummies(old[['team1','team2']])

In [7]:
new = pd.concat([new,teams], axis=1)
old = pd.concat([old,teamsold], axis=1)

In [8]:
new.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2', 'team1_Arsenal',
       'team1_Aston Villa', 'team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Chelsea', 'team1_Crystal Palace', 'team1_Everton',
       'team1_Fulham', 'team1_Leeds United', 'team1_Leicester City',
       'team1_Liverpool', 'team1_Manchester City', 'team1_Manchester United',
       'team1_Newcastle', 'team1_Sheffield United', 'team1_Southampton',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team1_Wolverhampton', 'team2_Arsenal',
       'team2_Aston Villa', 'team2_Brighton and Hove Albion', 'team2_Burnley',
       'team2_Chelsea', 'team2_Crystal Palace', 'team2_Everton',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Manchester United',
       'team2_Newcastle', 'team2_Sheffield United', 'team2_Southampton',
       'team2_Tottenham Hotspur', 'team2_West Bromwich Albion',
       'team2_West Ham United', 'team2_Wolverhampton'],
      dtype='object')

In [37]:
X_train = old[['season', 'spi1', 'spi2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2', 'team1_Arsenal',
       'team1_Aston Villa', 'team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Chelsea', 'team1_Crystal Palace', 'team1_Everton',
       'team1_Fulham', 'team1_Leeds United', 'team1_Leicester City',
       'team1_Liverpool', 'team1_Manchester City', 'team1_Manchester United',
       'team1_Newcastle', 'team1_Sheffield United', 'team1_Southampton',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team1_Wolverhampton', 'team2_Arsenal',
       'team2_Aston Villa', 'team2_Brighton and Hove Albion', 'team2_Burnley',
       'team2_Chelsea', 'team2_Crystal Palace', 'team2_Everton',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Manchester United',
       'team2_Newcastle', 'team2_Sheffield United', 'team2_Southampton',
       'team2_Tottenham Hotspur', 'team2_West Bromwich Albion',
       'team2_West Ham United', 'team2_Wolverhampton']]
X_test = new[['season', 'spi1', 'spi2','prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2','team1_Arsenal',
       'team1_Aston Villa', 'team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Chelsea', 'team1_Crystal Palace', 'team1_Everton',
       'team1_Fulham', 'team1_Leeds United', 'team1_Leicester City',
       'team1_Liverpool', 'team1_Manchester City', 'team1_Manchester United',
       'team1_Newcastle', 'team1_Sheffield United', 'team1_Southampton',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team1_Wolverhampton', 'team2_Arsenal',
       'team2_Aston Villa', 'team2_Brighton and Hove Albion', 'team2_Burnley',
       'team2_Chelsea', 'team2_Crystal Palace', 'team2_Everton',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Manchester United',
       'team2_Newcastle', 'team2_Sheffield United', 'team2_Southampton',
       'team2_Tottenham Hotspur', 'team2_West Bromwich Albion',
       'team2_West Ham United', 'team2_Wolverhampton']]

In [41]:
X_train.dropna(inplace=True)
y_train = old[['score2']].values
X_test.dropna(inplace=True)

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
tX_train = X_train.drop(['score1','score2'],axis=1).values
tX_test =X_test.values

In [13]:
scaler = MinMaxScaler()
tX_train = scaler.fit_transform(tX_train)
tX_test = scaler.transform(tX_test)
tX_train.shape

(1795, 48)

In [14]:
def two_to_three(array):
    array = np.reshape(array, array.shape+(1,))
    return array

In [15]:
tX_test = two_to_three(tX_test)
tX_train = two_to_three(tX_train)
print(tX_test.shape)
print(tX_train.shape)

(36, 48, 1)
(1795, 48, 1)

In [42]:
from shapash.explainer.smart_explainer import SmartExplainer

In [43]:
xpl = SmartExplainer()

In [44]:
from lightgbm import LGBMRegressor

In [45]:
y_train

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [0.],
       [0.]])

In [46]:
regressor = LGBMRegressor(n_estimators=200).fit(X_train,y_train)

C:\Users\Lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\lightgbm\basic.py:154: UserWarning:

Converting column-vector to 1d array

Index(['season', 'spi1', 'spi2', 'score1', 'score2', 'prob1', 'prob2',
       'probtie', 'proj_score1', 'proj_score2', 'team1_Arsenal',
       'team1_Aston Villa', 'team1_Brighton and Hove Albion', 'team1_Burnley',
       'team1_Chelsea', 'team1_Crystal Palace', 'team1_Everton',
       'team1_Fulham', 'team1_Leeds United', 'team1_Leicester City',
       'team1_Liverpool', 'team1_Manchester City', 'team1_Manchester United',
       'team1_Newcastle', 'team1_Sheffield United', 'team1_Southampton',
       'team1_Tottenham Hotspur', 'team1_West Bromwich Albion',
       'team1_West Ham United', 'team1_Wolverhampton', 'team2_Arsenal',
       'team2_Aston Villa', 'team2_Brighton and Hove Albion', 'team2_Burnley',
       'team2_Chelsea', 'team2_Crystal Palace', 'team2_Everton',
       'team2_Fulham', 'team2_Leeds United', 'team2_Leicester City',
       'team2_Liverpool', 'team2_Manchester City', 'team2_Manchester United',
       'team2_Newcastle', 'team2_Sheffield United', 'team2_Southampton',
       'team2_Tottenham Hotspur', 'team2_West Bromwich Albion',
       'team2_West Ham United', 'team2_Wolverhampton'],
      dtype='object')

In [47]:

xpl.compile(X_test,regressor)

Backend: Shap TreeExplainer

In [48]:
app = xpl.run_app()

Dash is running on http://0.0.0.0:8050/

INFO:root:Your Shapash application run on http://Arnav-PC:8050/
INFO:shapash.webapp.smart_app:Dash is running on http://0.0.0.0:8050/

INFO:root:Use the method .kill() to down your app.
 * Serving Flask app "shapash.webapp.smart_app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
INFO:werkzeug: * Running on http://0.0.0.0:8050/ (Press CTRL+C to quit)

In [ ]:
preds = []
for num in predictions:
  score1 = np.round(num[0]) if num[0]>=0 else 0
  score2 = np.round(num[1]) if num[1]>=0 else 0
  preds.append((score1,score2))

len(preds)

score1 = []
score2 = []

for num in preds:
  score1.append(num[0])
  score2.append(num[1])

print(len(score1))
print(len(score2))

new['Tanner Score 1'] = score1
new['Tanner Score 2'] = score2
new.to_excel("ProjectionsPLGW28to31_TF.xlsx")